/*Inicialização da fonte que eles usaram no exemplo*/

.darker-grotesque {
   font-family: "Darker Grotesque", sans-serif;
   font-optical-sizing: auto;
   font-weight: 200;
   font-style: normal;
 }

/*Estilização do Body*/

body {
   margin: 0;
   position: absolute;
   height: 100%;
   max-width: 2160px;
   width: 100%;
   max-width: 3840px;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   left: 50%;
   top: 0;
   transform: translate(-50%,0%);
   font-family:"Darker Grotesque", sans-serif;
}

/*Estilizaçao do cabeçalho*/

header {
   position: relative;
   height: 15.1%;
   width: 100%;
   display: inline-flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: #85CDF5;
   font-size: 2vh;
}

header img {
   height: 11vh;
   width: 10vh;
}

header a {
   color: #333333;
   text-decoration: none;
   font-size: 2.5vh;
   font-weight: bolder;
}

/*Estilizaçao da <main>*/

main {
   max-height: 2900px;
   width: 100%;
   background-color: #333333;

}

/*Estilizaçao da parte superior do <main>(onde tem a imagem do lobo)*/

.top {
   background-image: url("assets/lobo-fundo.png");
   height: 50vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
}

.top h1 {
   color: white;
   font-size: 10vh;
   margin-bottom: -0.5%;
}

.top h3 {
   color: white;
   font-size: 3vh;
   font-weight:200;
}
