/*Estilizaçao da <main>*/

main {
    width: 100vw;
    background-color: #FFFFFF;
    height: auto;
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 /* Textos */

 h1 {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 60px;
    margin-top: -4px;
 }
 h6 {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 14px;
    line-height: 18.98px;
    margin-top: -54px;
 }
p {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 30px;
    line-height: 40px;
}

 /* Dados */

 .section {
    width: 960px;
    margin: auto;
 }
 .top {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6vh;
 }
 .lobo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
 }
 .titulos {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
 }
 .name {
    display: flex;
 }
 .h6, .h1 {
    margin-left: .1em;
 }
.dados {
    display: flex;
    justify-content: space-between
}
.input {
    display: flex;
    justify-content: space-between;
}
input {
    border: none;
    border-bottom: solid 1px #333333;
    height: 50px;
    font-size: 30px;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
}
.input-nome {
    width: 868px;
}
.input-idade {
    width: 68px;
}
.input-email {
    width: 960px;
}
.adotar {
    width: 209px;
    height: 60px;
    background-color: #2c5680;
    color: #FFFFFF;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 36px;
    border: #333333 solid 1px;
    margin: 50px;
    padding-bottom: 2px;
    cursor: pointer;
}
.adotar:hover {
    background-color: #5e83a8;
    border: #FFFFFF 1px solid;
    transition: all ease .2s;
    translate: -2px -2px;
}
