.list {
   height: 190vh;
   width: 100%;
   background-color:white;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: nowrap;
}

.search {
   width: 100%;
   height: 5vh;
   margin-top: 1%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   font-weight:lighter;
   font-family: "Roboto", sans-serif;
   font-size: 1.5vh;
   
}


.searchbar {
   width: 60%;
   height: 100%;
   border: solide;
   border-color: black;
}

.searchbutton {
   width: 8%;
   height: 100%;
   margin-left: 2%;
   background-color: #DEB959;
   border: none;
   color: white;
   font-size: 3vh;
}

.adotado {
   height: 2vh;
   width: 2vh;
   margin-left: -55%;
}