.list {
   height: 190vh;
   width: 100%;
   background-color:white;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: nowrap;
}

.search {
   width: 100%;
   height: 5vh;
   margin-top: 1%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   font-weight:lighter;
   font-family: "Roboto", sans-serif;
   font-size: 1.5vh;
   
}


.searchbar {
   width: 60%;
   height: 100%;
   border: solide;
   border-color: black;
}

.searchbutton {
   width: 8%;
   height: 100%;
   margin-left: 2%;
   background-color: #DEB959;
   border: none;
   color: white;
   font-size: 3vh;
}

.adotado {
   height: 2vh;
   width: 2vh;
   margin-left: -55%;
}

.low {
   background-color: white;
   height: 105vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.low h1{
   font-size: 4vh;
   font-weight: bolder;
   color: #DEB959;
   font-family: "Darker Grotesque", sans-serif;
}

.profile {
   height: 25%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Darker Grotesque", sans-serif;
}

.desc {
   height: 60%;
   width: 45%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.desc h1{
   font-size: 3vh;
   color: black;
}

.desc span{
   margin-top: -5%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   font-size: 1vh;
   font-family: "Darker Grotesque", sans-serif;
}

.textbox {
   width: 80%;
   height: 50%;
   font-size: 1.5vh;
   font-family: "Darker Grotesque", sans-serif;
}

.changepage{
   height: 10vh;
   width: 50vh;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   font-family: "Darker Grotesque", sans-serif;
   font-size: 2vh;
}

.changepage button{
   height: 50%;
   width: 15%;
   font-size: 2vh;
   background-color: white;
   font-family: "Darker Grotesque", sans-serif;
   border: none;
   cursor: pointer;
}

.actual{
   background-color: #DEB959;
}

.adotar {
   margin-top: -10%;
   background-color: #DEB959;
   height: 5vh;
   width: 15vh;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Darker Grotesque", sans-serif;
   font-size: 2.5vh;
}

.adotados {
   margin-top: -10%;
   background-color: #7AAC3A;
   height: 5vh;
   width: 15vh;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Darker Grotesque", sans-serif;
   font-size: 2.5vh;
}